.d-none {
    display: none;
}


body {
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    margin:0;
    padding:0;
    background-image: url("./assets/img/5_background/main/hintergrund.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow:hidden;
}



/* body>div {
    position: absolute;
    top: 0px;
    top: 20px; #### 

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 80vw;
    height: 80vh;
} */

body>div {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    /* height: 80%; */
    /* max-width: 80%; */
}

canvas {
    border: 1px solid black;
    background-color: black;
    box-shadow: 0px 0px 50px rgba(255, 255, 0, 1);
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 720 / 480;
}

canvas.full {
    position: fixed;
    width: 100%;
    max-height: 100%;
    top: 0;
    object-fit: contain;
    aspect-ratio: auto 720 / 480; 
    background-color: transparent;
}


.intro {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0px 0px 50px rgba(255, 255, 0, 1);
    border-radius: 10px;
    background-image: url(./assets/img/9_intro_outro_screens/start/startscreen_2.png);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;

    width:80%;
    height: 80%; 
    max-width: 80%;
    max-height: 80%;
    /* aspect-ratio: 720 / 480 */
}


/* .intro {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;

    border:1px solid black;
    box-shadow: 0px 0px 50px rgba(255,255,0,1);
    border-radius: 10px;

    background-image: url("./assets/img/9_intro_outro_screens/start/startscreen_2.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
} */

.intro.full {
    position:fixed;
    /* top:0; */
    border:none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

canvas.full {
    position:fixed;
    top:0;
    border:none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    aspect-ratio: 720/640;
}


.intro header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 32px;
}


.intro header div {
    display: flex;
    gap: 20px;
}


.intro section {
    flex:1;
}

.intro nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 32px;
}

h1 {
    text-align:center;
    font-size: 1em;
    margin-top: -5%;
}


button {
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e4c9a1, #a67c52); 
    border: 1px solid #d2b48c; 
    border-radius: 16px;
    color: #5a3e1b;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    text-shadow: 1px 1px 0px rgba(221, 190, 12, 0.3), 
                 -1px -1px 0px rgba(221, 190, 12, 0.3),
                 -1px 1px 0px rgba(221, 190, 12, 0.3),
                 1px -1px 0px rgba(221, 190, 12, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}


button::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 70%;
    width: 30%;
    height: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
    transform: translateX(-50%) translateY(-70%);
    transition: transform 0.4s ease-in-out;
    border-radius: 50%;
}

/* Hover-Effekt */
button:hover {
    background: linear-gradient(to bottom, #f0d8af, #b88a5f); /* Hellerer Verlauf */
    transform: scale(1.05);
}


.ls {
    content:url( "./assets/img/9_intro_outro_screens/menu/ls.svg");
}

.ls.off {
    content:url( "./assets/img/9_intro_outro_screens/menu/lsoff.svg");
}


.fullscreen {
    content:url( "./assets/img/9_intro_outro_screens/menu/fullscreen.svg");
}

.fullscreen.off {
    content:url( "./assets/img/9_intro_outro_screens/menu/fullscreenOff.svg");
}

.noBorderRadius {
    border-radius:0;
}
.black {
    background: black;
}